{% extends "myapp/base.html" %}

{% comment %} 
Program:  Web Based Database Application
Filename: readme.html               
@author:  © Jack Styles             
Course:   BSc Digital Technology Solutions                     
Module:   Software Engineering and Agile             
Tutor:    Suraksha Neupane                         
@version: 1.0     
Date:     22/09/23
{% endcomment %}

{% block title %}
<h1>Readme</h1>
{% endblock %}
{% block content %}
{% include "myapp/readme_contents.html" %}
{% endblock %}